body {
  background-color: white; 
  margin: 0; 
  font-family: Arial, sans-serif; 
}
.budget-chart {
  display: flex;
  justify-content: space-between;
  
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  width:50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
}

.budget-chart .chart-legend {
  list-style: none;
  padding: 0;
}

.budget-chart .chart-legend li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.budget-chart .chart-legend span {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
  
}
